/* @import './base.css'; */
@import './css/basic/base.css';
@import './css/basic/input.css';
@import './css/basic/helpers.css';
@import './css/basic/button.css';

/* CMPS  */
@import './css/cmps/app.css';
@import './css/cmps/header.css';
@import './css/cmps/user-profile.css';
@import './css/cmps/user-msg.css';
@import './css/cmps/progress-bar.css';
@import './css/cmps/filter.css';
@import './css/cmps/toy-list.css';
@import './css/cmps/toy-preview.css';
@import './css/cmps/toy-details.css';
@import './css/cmps/toy-edit.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
