
.toy-details {
  display: flex;
  flex-direction: column;
  gap:30px;
  font-size: 1.5em;
  background-color: rgb(216, 210, 210);
  border: 3px solid lightsalmon;
  border-radius: 4px;
  padding: 10px;
  margin-top: 50px;
}

.toy-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.toy-details h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #888;
}

.toy-details p {
  margin-bottom: 5px;
}

.toy-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}

.toy-details .category-item {
  display: inline-block;
  margin-right: 10px;
  background-color: #4dba6c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.toy-details .category-item:hover {
  background-color: #69e106;
  cursor: default;
}
